<div class="container px-0">
  <h3>
    <%= "Comment to post: #{post.title}" %>
  </h3>
  <%= form_with(model: comment, url: comment.persisted? ? post_comment_path(post, comment) : post_comments_path(post)) do |form| %>
    <% if comment.errors.any? %>
      <div style=" color: red">
        <h2>
          <%= pluralize(comment.errors.count, "error" ) %> prohibited this comment from being saved:
        </h2>
        <ul>
          <% comment.errors.each do |error| %>
            <li>
              <%= error.full_message %>
            </li>
            <% end %>
        </ul>
      </div>
    <% end %>
        <div class="mb-3">
          <%= form.label :body, class:"form-label" %>
            <%= form.text_area :body, class:"form-control" %>
        </div>
        <div class="row d-flex mx-0 mt-2 mb-0 pt-2 border-top border-3">
          <div class="col-12 col-md-2 me-2 mt-1 ps-0">
            <%= form.submit "Save" , {class:"btn btn-secondary btn-sm", style:"width: 7rem; height:35px;"} %>
          </div>
          <div class="col-12 col-md-2 mt-1 ps-0">
            <%= link_to "Back to post" , post_path(@post), class: "btn btn-danger btn-sm" , style:"width: 7rem;
              height:35px;" %>
          </div>
        </div>
        <% end %>
</div>