<%= form_with(model: topic) do |form| %>
<% if topic.errors.any? %>
  <div style="color: red">
    <ul>
      <% topic.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div>
  <%= form.label :titulo, style: "display: block" %>
  <%= form.text_field :titulo %>
</div>
<%= form.submit %>
<% end %>